
.no_border, .no_border td {
    border: none;
}

.label {
    margin: 6px;
    font-weight: bold;
}

.employmentPlanningTable{
    margin-bottom: 10px;
}

.employmentPlanningTable td{
    margin-bottom: 20px;
    padding: 5px;
}

.employmentPlanningTable .bigSelect{
    width: 280px;
}

.employmentPlanningForm{
    margin-bottom: 10px;
}

