.create_img {
    cursor: pointer;
    vertical-align: middle;
    padding: 0px;
    text-align: center;
    width: 15px;
    height: 15px;
    max-height: 15px;
    max-width: 15px;
    margin: 5px;
}