/*можно выделить в стиль .TTStyle*/
.Gantt,
.GVacationTitle,
.GMonth,
.GMonthDayGraph,
.GWeekend,
.GDay {
    font-size: 11px;
    font-family: tahoma, arial, verdana;
}

.GVacationTitle {
    font-weight: bold;
}

.GMonth {
    padding-left: 5px;
    font-weight: bold;
}

.GMonthDayGraph {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    font-weight: bold;
}

.GToday {
    background-color: #add8e6;
    text-align: center;
}

.GWeekend {
    background-color: pink;
    text-align: center;
}

.GDay {
    text-align: center;
}

.GDayDiv {
    display:inline-block;
}

.GVacation {
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    height: 14px;
    background-color: red;
    text-align: center;
}

.GProgress {
    background-color: black;
    height: 2px;
    overflow: hidden;
    margin-top: 5px;
}
