#viewreports .statusHoliday{
    color: brown;
}
#viewreports .date{
    text-align: center;
}
#viewreports .statusNormalDay .date{
    font-weight: bold;
}
#viewreports .statusWorkOnHoliday .date{
    font-weight: bold;
}
#viewreports thead{
    font-weight: bold;
}
#viewreports .rightAlign{
    text-align: right;
}
#normainweek{
    width: 100%;
    text-align: right;
}
.colortext {
    color: brown;
}

.center {
    text-align: center;
    text-valign: middle;
}

tr.b {
    font-weight: bold;
}

.delete-button img {
    vertical-align: middle;
    width: 10px;
    height: 10px;
    max-height: 10px;
    max-width: 10px;
    margin: 3px;
}

.delete-button {
    cursor: pointer;
    vertical-align: middle;
    padding: 0;
    text-align: center;
}

